@import "../variables.css";

.button-container {
    cursor: pointer;
    background-color: var(--color-boton1); 
    color: var(--color-black); /* Color del texto del botón */
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: 700px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Transición de color suave */
    width: 80%;
    height: 48px;
    background-color: var(--color-boton1);
    display: flex;
    margin-left: 10%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .button-container:hover {
    animation: gradientAnimation 3s linear infinite; /* Ajusta la duración y el tipo de animación según sea necesario */
  }
  
  .button-container:hover {
    background-color: var(--color-boton-hover1); /* Cambio de color al pasar el ratón sobre el botón */
  }
  
  .button-icon {
    align-items: center;
    width: 10%;
    height: 75%;
    margin-left: 1%; 
    margin-right: 2%; 
  }
  