@import "../variables.css";

.input_container_check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    margin-left: 15%;    
  }
  
  .input_container_check input[type="checkbox"] {
    appearance: none;
    width: 20px; /* Tamaño del cuadro del checkbox */
    height: 20px;
    border: 2px solid #0077FF; /* Color del borde del checkbox */
    border-radius: 4px; /* Borde redondeado */
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    cursor: pointer;
  }
  
  .input_container_check input[type="checkbox"]:checked {
    background-color: #0077FF; /* Color de fondo del checkbox cuando está marcado */
  }
  
  .text {
    font-size: 16px; /* Tamaño de fuente del texto */
  }
  
  /* Estilo para el mensaje de error */
  .hidden {
    display: none;
    color: red;
  }
  
  .visible {
    display: block;
    color: red;
  }
  