
@import "../variables.css";

.date_birth_select  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

p{ 
  margin-top: auto;
  font-size: 17px;
  width: 82%;
}

.dayMonthYear {
  align-items: center;
  margin-top: -13px;
  display: flex;
  flex-direction: row;
  width: 85%;
}

text {
  margin-bottom: 10px;
}

select {
    margin-bottom: 25px;
    margin-right: 2px;
    appearance: none; /* Oculta el estilo nativo del sistema */
    border: 1px solid #ccc; /* Borde del select */
    padding: 5px; /* Espaciado interior */
    border-radius: 5px; /* Borde redondeado */
    background-color: #fff; /* Color de fondo */
    color: #ccc; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho completo del contenedor */
    cursor: pointer;
    outline: none; /* Elimina el borde de enfoque */
    transition: border-color 0.3s; /* Transición de color del borde */
  }
  
  /* Estilo para el hover (al pasar el ratón) */
  select:hover {
    border-color: #0077FF; /* Cambio de color del borde al pasar el ratón */
  }
  
  /* Estilo para el foco (cuando está seleccionado) */
  select:focus {
    border-color: #0077FF; /* Cambio de color del borde cuando está enfocado */
  }