:root {
    /*fuentes universales*/

    /*boton 1 boton de formulario register y login*/
    --color-boton1: #ffffff;
    --color-boton-hover1: #0077FF;
    --color-boton-active1: #ffffff;
    --color-white: white;
    --color-black: #000000;

    /*inputs de formulario register y login*/
    
}