---
import "../styles/pages/feed.css";
import Header from "../layouts/bolt_header.astro";
import Footer from "../layouts/bolt_footer.astro";
import Main from "../layouts/bolt_mainFeed.astro";
---
<body>
    <div class="column">
    <Header/>
    </div>
    <div class="column">
    <Main/>
    </div>
    <div class="column">
    <Footer/>
    </div>
</body>