---
import "../styles/components/button_form.css"
const {text, id} = Astro.props;
---
<div class="button-container" id={id}>
    <p>{text}</p>
</div>

<!-- Se podría cambiar por un buton si da problemas de estilos :D -->
