---
import "../styles/components/date_birth_select.css"
const {text} = Astro.props;
---
<div class="date_birth_select">
    <p>{text}</p>
    <select id="día"><option value="" disabled selected>Día</option></select>
    <select id="mes"><option value="" disabled selected>Mes</option></select>
    <select id="año"><option value="" disabled selected>Año</option></select>
</div>

<script>
    const dia = document.getElementById('día') as HTMLElement;
    const mes = document.getElementById('mes') as HTMLElement;
    const año = document.getElementById('año') as HTMLElement;
    for(let i = 1; i <= 31; i++) {
        let option = document.createElement('option');
        option.value = String(i);
        option.text = String(i);
        dia.appendChild(option);
    }
    for(let i = 1; i <= 12; i++) {
        let option = document.createElement('option');
        option.value = String(i);
        option.text = String(i);
        mes.appendChild(option);
    }
    for(let i = 1920; i <= 2000; i++) {
        let option = document.createElement('option');
        option.value = String(i);
        option.text = String(i);
        año.appendChild(option);
    }
</script>