---
import "../styles/components/button_form.css"
const {text, imagen} = Astro.props;
---
<div class="button-container">
    <img class="button-icon" src={imagen} alt="Icono" />
    <p>{text}</p>
</div>
  
