---
import "../styles/layouts/mainFeed.css"
---

  <div id="main">
    <div>
      <ul id="ulMain">
        <li class="liMain" id="li1"><a href="#">Retos</a></li>
        <li class="liMain"><a href="#">Para ti</a></li>
        <li class="liMain"><a href="#">Tendencias</a></li>
      </ul>
    </div>
      <div class="publications">
        <div class="publication">
          <div class="part1">
            <p id="userPublication">Leo_12651</p>
            <p>Seguir</p>
            <p>...</p>
          </div>
          <div class="part2"></div>
          <div class="part3"></div>
          <div class="part4"></div>
          <div class="part5"></div>
        </div>

      </div>
    </div>