---
import "../styles/layouts/header.css"
---
<div id="header">
  <h1>Bolt</h1> <!-- Título en la parte superior -->
  <p>Username</p> <!-- Información de usuario -->

  <!-- Lista de enlaces con logotipos y texto -->
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Configuracion</a></li>
      <li><a href="#">Salas</a></li>
      <li><a href="#">Retos diarios</a></li>
      <li><a href="#">Seguidores</a></li>
    </ul>
  </nav>
</div>